@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-ExtraBoldItalic.ttf);
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-LightItalic.ttf);
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(./resources/Open_Sans/OpenSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: OpenDyslexic;
  src: url(./resources/OpenDyslexic2/OpenDyslexic-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: OpenDyslexic;
  src: url(./resources/OpenDyslexic2/OpenDyslexic-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: OpenDyslexic;
  src: url(./resources/OpenDyslexic2/OpenDyslexic-Italic.otf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: OpenDyslexic;
  src: url(./resources/OpenDyslexic2/OpenDyslexic-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
[theme=light] {
  --background: #fff;
  --color: #000;
  --button-background: #ddd;
  --button-border: #bbb;
  --button-hover-bg: #ccc;
  --button-active-bg: #eee;
}

[theme=dark] {
  --background: #434442;
  --color: #ddd;
  --button-background: #666;
  --button-border: #888;
  --button-hover-bg: #777;
  --button-active-bg: #555;
}

[contrast] {
  filter: contrast(1.5);
}

[invert] {
  filter: invert(1);
}

[contrast][invert] {
  filter: contrast(1.5) invert(1);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  --font-size: 24px;
  --font-family: OpenSans;
  font-family: var(--font-family);
  user-select: none;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  font-size: var(--font-size);
  color: var(--color);
  transition: color 200ms ease-in-out;
  box-sizing: inherit;
}
body[dyslexic] {
  --font-size: 20px;
  --font-family: OpenDyslexic;
}
body *::before,
body *::after {
  box-sizing: inherit;
}
body::after {
  content: "";
  background: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background 200ms ease-in-out;
}
body > div {
  transition: opacity 150ms ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}

/* order:
 * 
 * general
 * 
 * upload screen
 * settings screen
 * loading screen
 * processing video
 * editing page
 * loading edits
 * error
 * hover
 * 
 */
/*general*/
.button {
  margin-top: 3px;
  padding: 6px 8px;
  border-radius: 4px;
  background: var(--button-background);
  border: 1px solid var(--button-border);
}
.button:hover {
  background: var(--button-hover-bg);
}
.button:active {
  background: var(--button-active-bg);
}
.button input {
  display: none;
}

/* checkbox */
/* https://codepen.io/aaroniker/pen/PowZbgb */
.checkbox > label {
  --cb-background: var(--color);
  --border: transparent;
  --border-hover: var(--button-hover-bg);
  --border-active: var(--button-background);
  --tick: var(--color);
  position: relative;
  display: inline-flex;
  align-items: center;
  --stroke: var(--tick);
}
[theme=light] .checkbox > label {
  --cb-background: #bbb;
}
.checkbox > label.smaller {
  transform: scale(0.7);
}
.checkbox > label input, .checkbox > label svg {
  width: 21px;
  height: 21px;
  display: block;
}
.checkbox > label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: var(--cb-background);
  border: none;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  border-radius: 4px;
  transition: box-shadow 0.3s, background 200ms ease-in-out;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
  display: inline-block;
}
.checkbox > label input:hover {
  --s: 2px;
  --b: var(--border-hover);
}
.checkbox > label input:checked {
  --b: var(--border-active);
}
.checkbox > label svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  /*top: 1px;*/
  left: 0;
  width: 21px;
  height: 21px;
  transform: scale(0) translateZ(0);
}
.checkbox > label input:checked {
  --s: 11px;
}
.checkbox > label input:checked + svg {
  transition: transform 400ms ease-out;
  transform: scale(1) translateZ(0);
}
.checkbox > label input:disabled {
  background: var(--border-hover);
}
.checkbox > label input:disabled ~ span {
  color: var(--border-hover);
}
.checkbox > label span {
  transition: color 200ms ease-in-out;
}

/*toggle*/
.toggle > label {
  --toggle-background: var(--color);
  --border: var(--button-hover-bg);
  --thumb-background: var(--button-background);
  --active-width: 5px;
  position: relative;
  display: inline-flex;
  align-items: center;
}
[theme=light] .toggle > label {
  --cb-background: #bbb;
}
.toggle > label div {
  display: inline-block;
}
.toggle > label input {
  display: none;
}
.toggle > label .slider {
  height: 21px;
  width: 42px;
  margin-right: 5px;
  border-radius: 100px;
  background: var(--toggle-background);
  overflow: hidden;
  display: flex;
  align-content: center;
}
.toggle > label .slider .thumb {
  width: 21px;
  height: 21px;
  margin-left: 0px;
  box-shadow: 0 0 5px black;
  border-radius: 100%;
  background: var(--thumb-background);
  border-left: 2px solid var(--border);
  border-right: 0px solid var(--border);
  transition: margin 0.2s ease-in-out, border-width 0.2s ease-in-out, width 0.2s ease-in-out;
}
.toggle > label input:checked + .slider .thumb {
  margin-left: 21px;
  border-left: 0px solid var(--border);
  border-right: 2px solid var(--border);
}
.toggle > label.reverse .slider {
  margin-right: 0;
  margin-left: 5px;
}
.toggle > label.reverse span {
  order: -1;
}
.toggle > label:active input:not([disabled]) + .slider .thumb {
  width: calc(21px + var(--active-width));
}
.toggle > label:active input:not([disabled]):checked + .slider .thumb {
  margin-left: calc(21px - var(--active-width));
}
.toggle > label span {
  transition: color 200ms ease-in-out;
}
.toggle > label input:disabled + .slider {
  background: var(--thumb-background);
}
.toggle > label input:disabled + .slider .thumb {
  background: var(--thumb-background);
  box-shadow: none;
  border: none;
}

/* dropdown */
.dropdown > label {
  --dd-background: var(--color);
  --border: transparent;
  --border-hover: var(--button-hover-bg);
  position: relative;
  display: inline-flex;
  align-items: center;
}
[theme=light] .dropdown > label {
  --dd-background: #bbb;
}
.dropdown > label input,
.dropdown > label svg {
  width: 21px;
  height: 21px;
  display: block;
}
.dropdown > label select {
  -webkit-appearance: none;
  position: relative;
  outline: none;
  background: var(--dd-background);
  font-size: 14px;
  height: 21px;
  border: none;
  margin: 0;
  margin-left: 5px;
  padding: 0 7px;
  border-radius: 4px;
  transition: box-shadow 0.3s, background 200ms ease-in-out;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
  display: inline-block;
}
.dropdown > label select:hover {
  --s: 2px;
  --b: var(--border-hover);
}
.dropdown > label select:disabled {
  background: var(--border-hover);
  color: var(--border-hover);
}
.dropdown > label select:disabled ~ span {
  color: var(--border-hover);
}
.dropdown > label span {
  order: -1;
  transition: color 200ms ease-in-out;
}

[dyslexic] .dropdown > label select {
  font-family: var(--font-family);
  font-size: 12px;
}

/*upload screen / defaults*/
#uploadVideo {
  opacity: 1;
  pointer-events: all;
}

#settings {
  opacity: 0;
  pointer-events: none;
}
#settings .section {
  border-bottom: 1px solid black;
  width: 100%;
}
#settings .section:last-child {
  border-bottom: none;
}

#loadingMain {
  opacity: 0;
  pointer-events: none;
}

#processingVideo {
  opacity: 0;
  pointer-events: none;
}

#editor {
  opacity: 0;
  pointer-events: none;
}

#editsprogress {
  opacity: 0;
  pointer-events: none;
}

#error {
  opacity: 0;
  pointer-events: none;
}

#hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#version {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
#version:before {
  content: "v";
}
#version.update:after {
  content: "update available";
  font-weight: bold;
  padding-left: 5px;
  opacity: 0.5;
}

#settingsButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 4px;
}
#settingsButton svg {
  fill: var(--color);
  width: 22px;
}

/*settings screen*/
.settings #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.settings #settings {
  opacity: 1;
  pointer-events: all;
}
.settings #loadingMain {
  opacity: 0;
  pointer-events: none;
}
.settings #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.settings #editor {
  opacity: 0;
  pointer-events: none;
}
.settings #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.settings #error {
  opacity: 0;
  pointer-events: none;
}
.settings #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

/*loading screen*/
.loadingMain #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.loadingMain #settings {
  opacity: 0;
  pointer-events: none;
}
.loadingMain #loadingMain {
  opacity: 1;
  pointer-events: all;
}
.loadingMain #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.loadingMain #editor {
  opacity: 0;
  pointer-events: none;
}
.loadingMain #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.loadingMain #error {
  opacity: 0;
  pointer-events: none;
}
.loadingMain #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

/*processing video*/
.processing #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.processing #settings {
  opacity: 0;
  pointer-events: none;
}
.processing #loadingMain {
  opacity: 0;
  pointer-events: none;
}
.processing #processingVideo {
  opacity: 1;
  pointer-events: all;
}
.processing #editor {
  opacity: 0;
  pointer-events: none;
}
.processing #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.processing #error {
  opacity: 0;
  pointer-events: none;
}
.processing #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

/*editing page*/
.editor #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.editor #settings {
  opacity: 0;
  pointer-events: none;
}
.editor #loadingMain {
  opacity: 0;
  pointer-events: none;
}
.editor #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.editor #editor {
  opacity: 1;
  pointer-events: all;
}
.editor #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.editor #error {
  opacity: 0;
  pointer-events: none;
}
.editor #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#editor {
  padding: 15px;
  box-sizing: border-box;
  justify-content: flex-start;
  transform-origin: top center;
}
#editor video {
  width: 100%;
}
#editor #playbackDetails {
  padding-top: 45px;
  width: 100%;
}
#editor #playbackDetails #videoBar {
  width: 100%;
  height: 2px;
  display: inline-block;
  position: relative;
  background: var(--color);
}
#editor #playbackDetails #videoBar .position {
  width: 2px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: var(--color);
}
#editor #playbackDetails #videoBar .position::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: -5px;
  margin-top: -5px;
  background: var(--color);
}
#editor #playbackDetails #videoBar .trimstart {
  width: 2px;
  height: 5px;
  position: absolute;
  top: -5px;
}
#editor #playbackDetails #videoBar .trimstart::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  border-radius: 2px 0px 0px 2px;
  margin-left: -6px;
  margin-top: -5px;
  border-right: 2px solid #666;
  box-sizing: border-box;
}
[theme=light] #editor #playbackDetails #videoBar .trimstart::after {
  background: #f90;
}
[theme=dark] #editor #playbackDetails #videoBar .trimstart::after {
  background: #dd4;
}
#editor #playbackDetails #videoBar .trimend {
  width: 2px;
  height: 5px;
  position: absolute;
  top: -5px;
}
#editor #playbackDetails #videoBar .trimend::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  border-radius: 0px 2px 2px 0px;
  margin-left: 0px;
  margin-top: -5px;
  border-left: 2px solid #666;
  box-sizing: border-box;
}
[theme=light] #editor #playbackDetails #videoBar .trimend::after {
  background: #f90;
}
[theme=dark] #editor #playbackDetails #videoBar .trimend::after {
  background: #dd4;
}
#editor #playbackDetails .line2 {
  display: flex;
  align-items: center;
  position: relative;
}
#editor #playbackDetails #currentTime {
  margin-right: 10px;
}
#editor #playbackDetails #volumeBar {
  width: 100px;
  height: 2px;
  right: 0;
  display: inline-block;
  position: absolute;
  justify-self: flex-end;
}
[theme=light] #editor #playbackDetails #volumeBar {
  background: #000;
}
[theme=dark] #editor #playbackDetails #volumeBar {
  background: #ddd;
}
#editor #playbackDetails #volumeBar .position {
  width: 2px;
  height: 2px;
  position: absolute;
}
[theme=light] #editor #playbackDetails #volumeBar .position {
  background: #000;
}
[theme=dark] #editor #playbackDetails #volumeBar .position {
  background: #ddd;
}
#editor #playbackDetails #volumeBar .position::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: -5px;
  margin-top: -5px;
}
[theme=light] #editor #playbackDetails #volumeBar .position::after {
  background: #000;
}
[theme=dark] #editor #playbackDetails #volumeBar .position::after {
  background: #ddd;
}
#editor #quickoptions {
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
}
#editor #quickoptions label.disabled {
  display: none;
}
#editor #finish {
  padding-top: 15px;
}

/*loading edits*/
.editsprogress #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #settings {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #loadingMain {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #editor {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #editsprogress {
  opacity: 1;
  pointer-events: all;
}
.editsprogress #error {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#editsprogress #progress {
  width: 75%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* https://codepen.io/traf/pen/oKbaqQ */
}
#editsprogress #progress .progressbar {
  background: var(--button-background);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 100%;
  transition: width 250ms ease-out, height 250ms ease-out;
}
#editsprogress #progress .progressbar .progressinner {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px var(--color);
  border-radius: 100px;
  background: var(--color);
  height: 30px;
  width: 0%;
  transition: width 250ms ease-in-out, height 250ms ease-out;
}
#editsprogress #progress .progresstext {
  width: 100%;
}
#editsprogress #progress .progresstext > span {
  display: inline-block;
  font-size: 16px;
}
#editsprogress #progress .progresstext > span.part {
  float: left;
}
#editsprogress #progress .progresstext > span.eta {
  float: right;
}
#editsprogress #progress .progresstext > span.eta::after {
  content: " secs remaining";
}
#editsprogress #return {
  height: 15%;
}
#editsprogress #return #returncancel {
  display: inline-block;
}
#editsprogress #return #returndone {
  display: none;
}
#editsprogress.finished #progress .progressbar {
  width: 50px;
  height: 60px;
}
#editsprogress.finished #progress .progressbar .progressinner {
  width: 100%;
  height: 50px;
}
#editsprogress.finished #progress .progresstext {
  display: none;
}
#editsprogress.finished #return #returncancel {
  display: none;
}
#editsprogress.finished #return #returndone {
  display: inline-block;
}
#editsprogress #consoleoutput {
  width: 100%;
  height: 65%;
  padding: 15px;
}
#editsprogress #consoleoutput pre {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  background: var(--button-background);
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace;
  font-size: 12px;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  user-select: initial;
}

/*error*/
.error #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.error #settings {
  opacity: 0;
  pointer-events: none;
}
.error #loadingMain {
  opacity: 0;
  pointer-events: none;
}
.error #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.error #editor {
  opacity: 0;
  pointer-events: none;
}
.error #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.error #error {
  opacity: 1;
  pointer-events: all;
}
.error #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#error {
  display: flex;
}
#error .bold {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}
[theme=light] #error .bold {
  color: #d77;
}
[theme=dark] #error .bold {
  color: #f99;
}
#error .small {
  font-size: 16px;
  text-align: center;
}
#error .small:hover {
  text-decoration: underline;
}
#error #errordisplay {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 15px;
}
#error #errordisplay pre {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  background: var(--button-background);
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace;
  font-size: 12px;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  user-select: initial;
}

/*hovering over with image screen*/
.hoveringVideo #uploadVideo {
  opacity: 0;
  pointer-events: all;
}
.hoveringVideo #settings {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #loadingMain {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #editor {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #error {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #hoveringVideo {
  opacity: 1;
  pointer-events: none;
}

/*# sourceMappingURL=index.css.map */
