@font-face {
  font-family: OpenSans-Bold;
  src: url(./resources/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-BoldItalic;
  src: url(./resources/Open_Sans/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(./resources/Open_Sans/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url(./resources/Open_Sans/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(./resources/Open_Sans/OpenSans-Italic.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(./resources/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url(./resources/Open_Sans/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(./resources/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url(./resources/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url(./resources/Open_Sans/OpenSans-SemiBoldItalic.ttf);
}
[theme=light] {
  --background: #fff;
  --color: #000;
  --button-background: #ddd;
  --button-border: #bbb;
  --button-hover-bg: #ccc;
  --button-active-bg: #eee;
}

[theme=dark] {
  --background: #434442;
  --color: #ddd;
  --button-background: #666;
  --button-border: #888;
  --button-hover-bg: #777;
  --button-active-bg: #555;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: OpenSans-Regular;
  user-select: none;
  transition: color 200ms ease-in-out, background 200ms ease-in-out;
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  font-size: 24px;
  background: var(--background);
  color: var(--color);
}
body > div {
  transition: opacity 150ms ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* order:
 * 
 * general
 * 
 * upload screen
 * processing video
 * editing page
 * loading edits
 * error
 * hover
 * 
 */
/*general*/
.button {
  margin-top: 3px;
  padding: 6px 8px;
  border-radius: 4px;
  background: var(--button-background);
  border: 1px solid var(--button-border);
}
.button:hover {
  background: var(--button-hover-bg);
}
.button:active {
  background: var(--button-active-bg);
}
.button input {
  display: none;
}

/* https://codepen.io/aaroniker/pen/PowZbgb */
.checkbox > label {
  --background: var(--color);
  --border: transparent;
  --border-hover: var(--button-hover-bg);
  --border-active: var(--button-background);
  --tick: var(--color);
  position: relative;
  display: inline-flex;
  align-items: center;
  --stroke: var(--tick);
}
[theme=light] .checkbox > label {
  --background: #bbb;
}
.checkbox > label.smaller {
  transform: scale(0.7);
}
.checkbox > label input,
.checkbox > label svg {
  width: 21px;
  height: 21px;
  display: block;
}
.checkbox > label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: var(--background);
  border: none;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  border-radius: 4px;
  transition: box-shadow 0.3s, background 200ms ease-in-out;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
  display: inline-block;
}
.checkbox > label input:hover {
  --s: 2px;
  --b: var(--border-hover);
}
.checkbox > label input:checked {
  --b: var(--border-active);
}
.checkbox > label svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  top: 1px;
  left: 0;
  width: 21px;
  height: 21px;
  transform: scale(0) translateZ(0);
}
.checkbox > label input:checked {
  --s: 11px;
}
.checkbox > label input:checked + svg {
  transition: transform 400ms ease-out;
  transform: scale(1) translateZ(0);
}
.checkbox > label input:disabled {
  background: var(--border-hover);
}
.checkbox > label input:disabled ~ span {
  color: var(--border-hover);
}
.checkbox > label span {
  transition: color 200ms ease-in-out;
}

/*upload screen*/
#uploadVideo {
  opacity: 1;
  pointer-events: all;
}

#processingVideo {
  opacity: 0;
  pointer-events: none;
}

#editor {
  opacity: 0;
  pointer-events: none;
}

#editsprogress {
  opacity: 0;
  pointer-events: none;
}

#error {
  opacity: 0;
  pointer-events: none;
}

#hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#version {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
#version:before {
  content: "v";
}
#version.update:after {
  content: "update available";
  font-family: "OpenSans-Bold";
  padding-left: 5px;
  opacity: 0.5;
}

/*processing video*/
.processing #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.processing #processingVideo {
  opacity: 1;
  pointer-events: all;
}
.processing #editor {
  opacity: 0;
  pointer-events: none;
}
.processing #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.processing #error {
  opacity: 0;
  pointer-events: none;
}
.processing #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

/*editing page*/
.editor #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.editor #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.editor #editor {
  opacity: 1;
  pointer-events: all;
}
.editor #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.editor #error {
  opacity: 0;
  pointer-events: none;
}
.editor #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#editor {
  padding: 15px;
  box-sizing: border-box;
  justify-content: flex-start;
  transform-origin: top center;
}
#editor video {
  width: 100%;
}
#editor #playbackDetails {
  padding-top: 45px;
  width: 100%;
}
#editor #playbackDetails #videoBar {
  width: 100%;
  height: 2px;
  display: inline-block;
  position: relative;
  background: var(--color);
}
#editor #playbackDetails #videoBar .position {
  width: 2px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: var(--color);
}
#editor #playbackDetails #videoBar .position::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: -5px;
  margin-top: -5px;
  background: var(--color);
}
#editor #playbackDetails #videoBar .trimstart {
  width: 2px;
  height: 5px;
  position: absolute;
  top: -5px;
}
#editor #playbackDetails #videoBar .trimstart::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  border-radius: 2px 0px 0px 2px;
  margin-left: -6px;
  margin-top: -5px;
  border-right: 2px solid #666;
  box-sizing: border-box;
}
[theme=light] #editor #playbackDetails #videoBar .trimstart::after {
  background: #f90;
}
[theme=dark] #editor #playbackDetails #videoBar .trimstart::after {
  background: #dd4;
}
#editor #playbackDetails #videoBar .trimend {
  width: 2px;
  height: 5px;
  position: absolute;
  top: -5px;
}
#editor #playbackDetails #videoBar .trimend::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  border-radius: 0px 2px 2px 0px;
  margin-left: 0px;
  margin-top: -5px;
  border-left: 2px solid #666;
  box-sizing: border-box;
}
[theme=light] #editor #playbackDetails #videoBar .trimend::after {
  background: #f90;
}
[theme=dark] #editor #playbackDetails #videoBar .trimend::after {
  background: #dd4;
}
#editor #playbackDetails .line2 {
  display: flex;
  align-items: center;
  position: relative;
}
#editor #playbackDetails #currentTime {
  margin-right: 10px;
}
#editor #playbackDetails #volumeBar {
  width: 100px;
  height: 2px;
  right: 0;
  display: inline-block;
  position: absolute;
  justify-self: flex-end;
}
[theme=light] #editor #playbackDetails #volumeBar {
  background: #000;
}
[theme=dark] #editor #playbackDetails #volumeBar {
  background: #ddd;
}
#editor #playbackDetails #volumeBar .position {
  width: 2px;
  height: 2px;
  position: absolute;
}
[theme=light] #editor #playbackDetails #volumeBar .position {
  background: #000;
}
[theme=dark] #editor #playbackDetails #volumeBar .position {
  background: #ddd;
}
#editor #playbackDetails #volumeBar .position::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: -5px;
  margin-top: -5px;
}
[theme=light] #editor #playbackDetails #volumeBar .position::after {
  background: #000;
}
[theme=dark] #editor #playbackDetails #volumeBar .position::after {
  background: #ddd;
}
#editor #quickoptions {
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
}
#editor #quickoptions label.disabled {
  display: none;
}
#editor #finish {
  padding-top: 15px;
}

/*loading edits*/
.editsprogress #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #editor {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #editsprogress {
  opacity: 1;
  pointer-events: all;
}
.editsprogress #error {
  opacity: 0;
  pointer-events: none;
}
.editsprogress #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#editsprogress #progress {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* https://codepen.io/traf/pen/oKbaqQ */
}
#editsprogress #progress .progressbar {
  background: var(--button-background);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 75%;
  transition: width 250ms ease-out, height 250ms ease-out;
}
#editsprogress #progress .progressbar .progressinner {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px var(--color);
  border-radius: 100px;
  background: var(--color);
  height: 30px;
  width: 0%;
  transition: width 250ms ease-in-out, height 250ms ease-out;
}
#editsprogress #return {
  height: 15%;
}
#editsprogress #return #returncancel {
  display: inline-block;
}
#editsprogress #return #returndone {
  display: none;
}
#editsprogress.finished #progress .progressbar {
  width: 60px;
  height: 60px;
}
#editsprogress.finished #progress .progressbar .progressinner {
  width: 100%;
  height: 50px;
}
#editsprogress.finished #return #returncancel {
  display: none;
}
#editsprogress.finished #return #returndone {
  display: inline-block;
}
#editsprogress #consoleoutput {
  width: 100%;
  height: 65%;
  padding: 15px;
}
#editsprogress #consoleoutput pre {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  background: var(--button-background);
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace;
  font-size: 12px;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  user-select: initial;
}

/*error*/
.error #uploadVideo {
  opacity: 0;
  pointer-events: none;
}
.error #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.error #editor {
  opacity: 0;
  pointer-events: none;
}
.error #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.error #error {
  opacity: 1;
  pointer-events: all;
}
.error #hoveringVideo {
  opacity: 0;
  pointer-events: none;
}

#error .bold {
  font-family: OpenSans-Bold;
  font-size: 48px;
}
[theme=light] #error .bold {
  color: #d77;
}
[theme=dark] #error .bold {
  color: #f99;
}
#error .small {
  font-size: 16px;
}
#error .small:hover {
  text-decoration: underline;
}

/*hovering over with image screen*/
.hoveringVideo #uploadVideo {
  opacity: 0;
  pointer-events: all;
}
.hoveringVideo #processingVideo {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #editor {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #editsprogress {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #error {
  opacity: 0;
  pointer-events: none;
}
.hoveringVideo #hoveringVideo {
  opacity: 1;
  pointer-events: none;
}

/*# sourceMappingURL=index.css.map */
